<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React without JSX</title>
    <script src="./react.development.js" crossorigin></script>
    <script src="./react-dom.development.js" crossorigin></script>
    <script src="./remix-router.js"></script>
    <script src="./react-router.js" ></script>
    <script src="./react-router-dom.js"></script>
    <script src="./redux.js"></script>
    <script src="./babel.js" crossorigin></script>
</head>

<body>
<div id="root"></div>

<script type="text/babel" data-presets="react,stage-3">
  function Demo() {
    console.log('Demo render')
    const [data, setData] = React.useState({ foo: { bar: { baz: 1 } } });
    return <div onClick={() => setData(1)}>改变</div>;
  }






  const root = ReactDOM.createRoot(document.getElementById("root"))
  // root.render(<Example />);
  root.render(
    <Demo />
  )
</script>
</body>

</html>
